@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Martel:wght@200;300;400;600;700;800&family=Rufina:wght@400;700&display=swap');

/**
  Example Fonts
  titles : font-family: 'Antic Didone', serif;
  post chapo : font-family: 'Martel', serif;
  content : font-family: 'Rufina', serif;
*/

h1, h2, h3, h4, h5 {
  font-family: 'Antic Didone', serif!important;
}
.badge {
  font-family: 'Martel', serif;
}
p, span, input, label, a {
  font-family: 'Rufina', serif;
}

.bg-image-full{
  background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800');
  background-repeat:no-repeat; 
  background-position:center;
  background-size:cover;
}

.bg-image-full > div {
  height: 8rem;
}

header .bg-image-full {
  background-image: url('https://cdn.pixabay.com/photo/2016/11/19/22/53/apple-1841553_960_720.jpg');
  background-repeat:no-repeat; 
  background-position:center;
  background-size:cover;
}

a .bi {
    font-size: 30px;
}

li:hover{
    -webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

/*======================
    Blog Posts page
=======================*/
.post-card {
  max-height: 14.5em!important;
  min-height: 14.5em!important;
}
.post-chapo {
  font-family: 'Martel', serif;
  Overflow:hidden;
  max-height: 6rem;
  line-height: 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  text-overflow: ellipsis;
  display: block;
}

@media screen and (max-width: 550px) {
  .post-card {
    max-height: 18.5em!important;
  }
  .post-chapo {
    max-height: 3em;
  }
}

/*======================
    Admin Posts page
=======================*/
.btn-action i{
  font-size: 16px;
}
/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

/*======================
    keyframes
=======================*/
/* @-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
   */